.container {
  max-width: 900px;
  margin: 0 auto;
}
.tour {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  background: white;
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  gap: 9px;
  background: #f1f4fa;
  padding: 6px 12px;
  border-radius: 20px;
  width: fit-content;
}

.theme-dark .info {
  background: #222;
}

.theme-dark .tour {
  background-color: #333;
  border: none;
}

.theme-light .tour{
    background-color: rgb(207, 216, 221)
}
.group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: auto;
}

.tour-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.tour-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tour-info p {
  margin: 5px 0;
}

.tour-price{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: auto;
  color:forestgreen;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  
}
