.dates{
    display: flex;
    gap: 10px;
}

.people-amount{
    display: flex;
    gap: 10px;
    
}

.passenger-row {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


.error {
  min-height: 10px;
  font-size: 10px;
  color: red;
}