.button {
  padding: 10px 25px;
  border: 2px solid dodgerblue;
  background: transparent;
  color: dodgerblue;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: dodgerblue;
  color: white;
}

