.button {
  padding: 10px 25px;
  border: 2px solid dodgerblue;
  background: transparent;
  color: dodgerblue;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: dodgerblue;
  color: white;
}

.buttonDelete {
  padding: 10px;
  border: 2px solid red;
  background: transparent;
  color: red;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonDelete:hover {
  background: red;
  color: white;
}

.buttonChangeTheme { 
  border: none;
  background: transparent;
  color: var(--theme-btn);
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonChangeLang { 
  border: none;
  background: transparent;
  color: var(--lang-btn);
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}