.hero {
  position: relative;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  text-align: center;
  color: white;
}

.hero-card {
  background-image: url("https://images.pexels.com/photos/167684/pexels-photo-167684.jpeg");
  background-size: cover;
  background-position: center;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.hero-card {
  position: relative;
  z-index: 2;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 25px;
  position: relative;
}

.nav-left {
  position: absolute;
  left: 25px;
  display: flex;
  align-items: center;
}

.nav-center {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.nav-right {
  position: absolute;
  right: 25px;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--text-main);
  font-size: 18px;
  transition: color 0.3s;
}

.user{
  color: var(--text-main);
  font-size: 20px;
  transition: color 0.3s;
  padding-right: 25px;
}

.icon{
  font-size: 25px;
  padding-right: 7px;
}

.underline{
  text-decoration: underline;
  text-decoration-color: #38bdf8;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}