.container {
  padding-top: 70px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--bg-card);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  padding-top: 100px;
}

.changeTheme {
  display: flex;
  gap: 10px;
}

.changeLang {
  display: flex;
  gap: 10px;
}

.account{
  display: flex;
  gap: 10px;
}