.booking-hero {
  background-image: url("https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 40px;
  min-height: 100vh;
}
.booking-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  padding-top: 70px;
  max-width: 1000px;
  margin: 0 auto;
}

.tour {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin-bottom: 30px;
}

.info {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #f1f4fa;
  padding: 4px 10px;
  border-radius: 20px;
  width: fit-content;
}

.theme-dark .info {
  background: #222;
}

.theme-dark .tour {
  background-color: #333;
  border: none;
}

.theme-light .tour {
  background-color: rgb(207, 216, 221);
}
.group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: auto;
}

.tour-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.tour-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tour-info p {
  margin: 5px 0;
}

.buying {
  display: flex;
  gap: 6px;
}

.tour-price {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  color: rgba(19, 219, 46, 0.695);
}

.search {
  margin-left: 20px;
}

.search-input {
  width: 200px;
  height: 25px;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: large;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}
