@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.app.theme-light {
  --bg-page: #f0f2f5;
  --bg-card: #ffffff;
  --bg-muted: #e9eef5;

  --text-main: #121212;
  --text-muted: #6b7280;

  --header-bg: rgba(255, 255, 255, 0.8);
  --header-border: rgba(0, 0, 0, 0.1);

  --theme-btn: #f59e0b;
  --lang-btn: #22d3ee;;

  --active: black;

  --accent: #2c7be5;
  --success: #13db2e;
}

.app.theme-dark {
  --bg-page: #121212;
  --bg-card: #1e1e1e;
  --bg-muted: #2a2a2a;

  --text-main: #f0f2f5;
  --text-muted: #9ca3af;

  --header-bg: rgba(0, 0, 0, 0.8);
  --header-border: rgba(255, 255, 255, 0.1);

  --theme-btn: #60a5fa;
  --lang-btn: #22d3ee;;

  --active: white;

  --accent: #4da3ff;
  --success: #22c55e;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: var(--bg-page);
  color: var(--text-main);
  transition: background-color 0.2s ease, color 0.2s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  backdrop-filter: blur(12px);
  background: var(--header-bg);
  border-bottom: 1px solid var(--header-border);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 999;
}

.error {
  color: red;
  font-size: small;
}
